.log-history-graph {
    width: 100%;
    height: 50vh;
}

.log-history-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-container {
    width: 200x;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    white-space: nowrap;
    gap: 10px;
}

